<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
      
  <configSections>
    <section name="AppSettingsTemplate" type="AppSettingsTemplateConfSection, App_Code" />
  </configSections>
  <AppSettingsTemplate settingKeys="PageTitlePrefix;IsDebugMode;AgentEmails;ISO8601_WorkshopStart;ISO8601_PosterSessionStart;ISO639-1_MainLanguage;TopNavigationEntries;HomePageUrl;WebsiteLongName;WebsiteMiddleName;WebMasterEmail" />
  <appSettings configSource="externalsettings\externalAppSettings.config" />
    
  <connectionStrings configSource="externalsettings\externalConnectionStrings.config" />
  
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" />
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
        <customErrors configSource="externalsettings\externalCustomErrors.config" />
        
		<httpModules>
			<add type="MyHttpModule" name="MyHttpModule" />
		</httpModules>

        <siteMap defaultProvider="content_sitemap">
            <providers>
                <add name="content_sitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/content/web.sitemap" />
            </providers>
        </siteMap>
    
		<httpRuntime enableVersionHeader="false" />

    <pages styleSheetTheme="bootstrap" masterPageFile="~/masterpages/bootstrap.master" />
        <sessionState timeout="60" />
    
	</system.web>
    <system.webServer>
        <handlers>
            <add name="HTML files" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
        </handlers>
        <staticContent>
            <mimeMap fileExtension=".cfg" mimeType="text/plain" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-UA-Compatible" value="IE=Edge" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
