/* 
 * Listen Elemente des ersten Baumebene.
 */
div#navigation ul#primary li, div#navigation ul#primary li {
    list-style:none;
}

div#navigation ul#primary li{
  margin-bottom: 0px;
}

div#navigation{

padding-top:10px;	

}

#menu-lang-1{

padding-top:50px;	

}

div#navigation ul#primary li a, div#navigation ul#primary li span{
  padding-left: 13px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
    color: #000; 
    font-weight: normal;
    background-color:#d2d2d4;
    border-bottom:solid 1px #9d2842;
    border-top:solid 1px #9d2842; 
}

div#navigation ul#primary{}
div#navigation ul#primary li{padding-bottom:5px}

div#navigation ul#primary li.level-1-cur{padding-bottom:5px}
div#navigation ul#primary li.level-1-cur a, div#navigation ul#primary li a.linkActive, div#navigation ul#primary li span {
 /*background-position: 0px 6px; 
 background-repeat: no-repeat;
 background-image: url(images/tree-li-level-1.gif);*/
 color: #30795b;
 background-color:#fff;
 font-weight: normal; 
 border-top:solid 1px #0175b2;
 border-bottom:solid 1px #0175b2;
 /*border-left:solid 1px #fff;
 border-right:solid 1px #fff;*/
}
div#navigation ul#primary li.level-1-act{}
div#navigation ul#primary li a.linkActive{ }

/* 
 * Listen Elemente des zweiten Baumebene.
 */
div#navigation ul#secondary{}
/* reset */
/*div#navigation ul#secondary li a{ color: #03498f; font-weight: bold; border:solid 0px #ffffff; }*/
div#navigation ul#secondary li a{color: #076329; font-weight: normal; background-image: none; border:solid 0px #ffffff;padding-left:15px; background-color:White;}

div#navigation ul#secondary li{ margin-bottom: 0px;padding-left:4px; }

div#navigation ul#secondary li.level-2-cur{ margin-bottom: 0px;padding-left:4px;}
div#navigation ul#secondary li.level-2-cur a{color: #9b9b9b; font-weight: normal; background-image: none; border:solid 0px #ffffff }
div#navigation ul#secondary li.level-2-act{ margin-bottom: 0px;}
div#navigation ul#secondary li a.linkActive,div#navigation ul#secondary li span{color: #9b9b9b; font-weight: normal; background-image: none; border:solid 0px #ffffff;}
div#navigation ul#secondary li span{
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* 
 * Listen Elemente des dritten Baumebene.
 */
div#navigation ul.level-3{}
div#navigation ul.level-3 li.level-3-no{ margin-bottom: 0px; }
div#navigation ul.level-3 li.level-3-no a{color: #ffffff; font-weight: normal; border:solid 0px #ffffff}
div#navigation ul.level-3 li.level-3-cur{}
div#navigation ul.level-3 li.level-3-cur a{color: #03498f; font-weight: normal; border:solid 0px #ffffff }
div#navigation ul.level-3 li.level-3-act{}
div#navigation ul.level-3 li.level-3-act a{color: #03498f; font-weight: normal; border:solid 0px #ffffff }
