/* 
   The below CSS file was built using samples + techniques described by Rachel Andrew in her book:
   The CSS Anthology: 101 Essential Tips, Tricks & Hacks
*/

/* Overall Page */

body {
	margin: 0;
	padding-bottom: 2em;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top: 2px solid #C9DBD9;
}

/* Header Section */

#header {
	border-top: 3px solid #C9DBD9;
	border-bottom: 1px dotted #C9DBD9;
	height: 6em;
}
#header .title {
	font: 190% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: left;
	margin-right: 2em;
	margin-top: 0.3em;
	margin-left: .8em;
}
#header .breadcrumb {
	font: 90% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: transparent;
	float: right;
	margin-right: 2em;
	margin-top: 0.8em;
	font-weight:bold;
}

#header a{color: yellow;}
#header a:visited {color: green;}
#header a:hover{color:Red;}

/* Navigation */

/*+*/#navigation {
	width: 200px;
	top: 8em;
	left: 1em;
	width: 13em;	
	position:absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
}

/*+*/#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*+*/#navigation li {
	border-bottom: 1px solid #C9DBD9;
}
/*+*/#navigation ul li.hasSubs{
    border-bottom:none;
}

/*+*/#navigation li a  {
	display: block;
	width:87%;
	padding: 5px 5px 5px 0.5em;
	border-left: 12px solid #7CA6A6;
	border-right: 1px solid #7CA6A6;
	background-color: #E6F2F2;
	color: #666666;
	text-decoration: none;
}
#navigation li a:hover {
	background-color: #7CA6A6;
	color: #FFFFFF;
}
/*+*/#navigation li a.linkActive {
	background-color: #7CA6A6;
	color: #FFFFFF;
}

/*+*/#navigation ul ul {
	margin-left: 12px;
}
#navigation ul ul li {
	border-bottom: 1px solid #7CA6A6;
	margin:0;
	/*background-color: #E6F2F2;*/
	color: #7CA6A6;
}
#navigation ul ul li.hasSubs{
    border-bottom:none;
}

/*+*/#navigation ul ul a:link, #navigation ul ul a:visited {
	background-color: #E6F2F2;
	color: #7CA6A6;
}

#navigation ul ul  a.linkActive:link {
	background-color: #7CA6A6;
	color: #FFFFFF;
}

#navigation ul ul  a.linkActive:visited{
	background-color: #7CA6A6;
	color: #FFFFFF;
}

#navigation ul ul a:hover {
	background-color: #7CA6A6;
	color: #FFFFFF;
}
#navigation ul ul li a.linkActive {
	background-color: #7CA6A6;
	color: #FFFFFF;
}

#navigation ul ul ul {
	margin-left: 12px;
}
#navigation ul ul ul li {
	border-bottom: 1px solid green;
	margin:0;
	background-color: yellow;
	color: #7CA6A6;
}
#navigation ul ul ul a:link, #navigation ul ul ul a:visited {
	background-color: yellow;
	color: #7CA6A6;
}

#navigation ul ul ul  a.linkActive:link {
	background-color: #7CA6A6;
	color: #FFFFFF;
}

#navigation ul ul ul  a.linkActive:visited{
	background-color: #7CA6A6;
	color: #FFFFFF;
}

#navigation ul ul ul a:hover {
	background-color: #7CA6A6;
	color: #FFFFFF;
}
#navigation ul ul ul li a.linkActive {
	background-color: #7CA6A6;
	color: #FFFFFF;
}

/* Main Content */

#content 
{
	margin-top:1em;
	margin-left: 16em;
	margin-right: 2em;
	font-size:85%;
	line-height: 1.6em; 
}
h1 {
	font: 150% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
}

/*#content p {
	font-size: 85%;
	line-height: 1.6em; 
}*/

/*#content ul {
	font-size: 85%;
	line-height: 1.6em; 
}*/


/* Data Web Control Styles */

.DataWebControlStyle
{
    font-size: 90%;
}

.HeaderStyle
{
    background-color: #900;
    color: White;
    font-weight: bold;
}

.AlternatingRowStyle
{
    background-color: #fcc;
}

.RowStyle
{
}

/* PRINT VIEW */
.printheader, .printfooter{
    width:100%;
    text-align:center;
    text-decoration:underline;
    color:#808080;
    margin-bottom:1.5em;
    font-size: 85%;
}

.printfooter{
    padding-top: 1.5em;
}

#printcontent{
	font-size:85%;
	line-height: 1.6em;
	margin-left:2em;
	padding-right:2em;
}

.largeGap li
{
    margin-top:1.5em;
}

/* CPfS */
.nowrap
{
    white-space:nowrap;
}

/* Scedule Table */
table.scedule
{
    border-collapse:collapse;
}

table.scedule td
{
    vertical-align:top;
    padding:5px;
}

td.left
{
    border-left-style:solid;
    white-space:nowrap;
}

td.right
{
    border-right-style:solid;
    white-space:nowrap;
}

td.bottom
{
    border-bottom-style:solid;
}

td.daycaption
{
    text-align:center;
    font-weight:bold;
    font-size:large;
}

td.separator
{
    height:10px;
}

td.cage, td.magn, td.cata, td.comb, td.post
{
    font-weight:bold;
    color:White;    
    border-style:solid;
}

td.cage{background-color:#974C5D;border-color:#974C5D;}
td.magn{background-color:#4F81BD;border-color:#4F81BD;}
td.cata{background-color:#748C42;border-color:#748C42;}
td.comb{background-color:#F79646;border-color:#F79646;}
td.work{background-color:#DBE5F1;font-weight:bold;border-style:solid;}
td.post{background-color:#99CCFF;border-color:#99CCFF;text-align:center;}

tr.pause td{background-color:#FFFFCC;}


td.cageframe, td.magnframe, td.cataframe, td.combframe, td.workframe
{border-width:thin;}

td.cageframe{border-color:#974C5D;}
td.magnframe{border-color:#4F81BD;}
td.cataframe{border-color:#748C42;}
td.combframe{border-color:#F79646;}
td.workframe{border-color:#DBE5F1;}

.changemark
{
    color:Lime;
}

.toptable td { vertical-align:top;}
/* End CPfS */

    