<appSettings>
    <add key="IsDebugMode" value="1" />
    <add key="CurrentWorkshopID" value="2"/>
    <add key="LogsFolder" value="~/logs/"/>
	<add key="AskUserForAgreement" value="1"/>
	<add key="AgentEmails" value="Alexander.Zajcev@cpfs.mpg.de"/>
    <add key="IsThisAppFeldmaessig" value ="true"/>
    <add key="agentName" value="haeko"/>
    <add key="agentPasswort" value="closed"/>
    <add key="thisIPsHavePermissionsToLogIn" value=""/>
    <add key="SmtpServerName" value="mail"/>
    <add key="FromEmailForThisApplication" value="Alexander.Zajcev@cpfs.mpg.de"/>
    <add key="FromEmailUserName" value=""/>
    <add key="FromEmailPassword" value=""/>
</appSettings>