<?xml version= "1.0" encoding="utf-8"?>
<appSettings>
    <add key="HomePageUrl" value="http://www.cpfs.mpg.de/aspimatt"/>
    <add key="PageTitlePrefix" value="ASPIMATT DEV"/>
    <add key="WebsiteLongName" value ="Advanced spintronic materials and transport phenomena"/>
    <add key="WebsiteMiddleName" value ="ASPIMATT DEV"/>
    <add key="IsDebugMode" value="1" />
    <add key="AgentEmails" value="Alexander.Zajcev@cpfs.mpg.de"/>
    <add key="WebMasterEmail" value="Alexander.Zajcev@cpfs.mpg.de"/>
    <add key="ISO8601_WorkshopStart" value="2013-07-01"/>
    <add key="ISO8601_PosterSessionStart" value="2013-07-04 17:00:00"/>
    <add key="ISO639-1_MainLanguage" value="en"/>
    <add key="TopNavigationEntries" value="~/default.aspx:Home;~/133.aspx:Projects 2013-2015;~/191.aspx:Projects 2010-2012;~/sscr/sitemap.aspx:Sitemap;~/088.aspx:Contact"/> <!--Input for each entry title and url (in form: ~/subsite/page.aspx) separated by colon(:) and separate the entries from each other by semicolon (;) -->
</appSettings>