<appSettings>
    <add key="IsDebugMode" value="1" />
    <add key="LogsFolder" value="~/logs/" />
    <add key="CurrentWorkshopID" value="1"/>
	<add key="AskUserForAgreement" value="0"/>
    <add key="AgentEmails" value="Alexander.Zajcev@cpfs.mpg.de"/>
    <add key="agentName" value="cmac"/>
    <add key="agentPasswort" value="days"/>
</appSettings>